<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/v1/login" method="post">
        <div class="container">
            <label><b>name</b></label>
            <input type="text" placeholder="Enter Username" name="name" required>
            <label><b>password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>
</body>

</html>
